trylid
build-settings.local
temp.*
temp2.*
test.k
test2.k
*-test.k
junk
.c-sources
.objects
.jolt-sources
.jolt-sources-self
.jolt-history
.trylid-history
.*.swp
trylid.tgz
tarball-date
.c-sources-2
.objects-2

