trylon
trylon.working
build-settings.local
temp
temp.*
temp2*
test.k
test2.k
*-test.k
junk
.c-sources
.objects
.jolt-sources
.jolt-sources-self
.jolt-history
.trylid-history
.gdb_history
.*.swp
trylon.tgz
tarball-date
.c-sources-2
.objects-2

